/* *********GLOBAL********** */

html {
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 100%;
  font-family: sans-serif;

}

body {
  display: flex;
  flex: auto;
  align-items: stretch;
}

button:disabled {
  color:inherit;
}

.player-container {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.player-name {
  font-size: 250%;
}

.player-token {
  font-size: 350%;
}

.player-wins {
  font-size: 200%;
}

.player-wins-counter {
  font-size: 200%;
}

/* ******PLAYER 1 SIDE****** */

.player-1-side {
  flex-grow: 1;
  background: linear-gradient(#FF5F6D, #FFC371);
}


/* *******GAME BOARD******** */

.display-player-turn-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.token {
margin: 0;
font-size: 450%;
}


.display-player-turn {
  text-align: center;
}

.game-area {
  display:flex;
  flex-grow: 2;
  flex-direction: column;
  align-items: center;
  animation: gradient 15s ease infinite;
  width: 35%;
  background: linear-gradient(-45deg, #5B86E5, #36D1DC, #FFC371, #FF5F6D);
  background-size: 400% 400%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.game-board {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20%;
  width: 40%;
  max-width: inherit;
  height: 50%;
}

.block {
  border: 0;
  border-radius: 5px;
  width: 31%;
  height: 31%;
  background-color: white;
  font-size: 450%;
}

.reset-score {
  margin-top: 950%;
  border-radius: 50px;
  background: linear-gradient(-45deg, #5B86E5, #36D1DC, #FFC371, #FF5F6D);
  width: 100%;
}

/* ******PLAYER 2 SIDE****** */

.player-2-side {
  flex-grow: 1;
  background: linear-gradient(#5B86E5, #36D1DC);
}
