/* *********GLOBAL********** */
/* * {
  border: 1px red solid;
} */

html {
  font-family: sans-serif;
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 100%;

}

body {
  display: flex;
  flex: auto;
  align-items: stretch;
}

button:disabled {
  color:inherit;
}

/* ******PLAYER 1 SIDE****** */

.player-1-side {
  background: linear-gradient(#FF5F6D, #FFC371);
  flex-grow: 1;
}

.player-1-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.player-name {
  align-items: center;
  font-size: 250%;
}

.player-1-select {

}

.player-wins {
  font-size: 200%;
}

.player-wins-counter {
  font-size: 200%;
}

/* *******GAME BOARD******** */

.display-player-turn-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.token {
font-size: 450%;
}


.display-player-turn {
  text-align: center;
}

.game-area {
  background: linear-gradient(#FFC371,#64f38c, #36D1DC);
  display:flex;
  flex-grow: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 65%;
  height: 65%;

}

.block {
  border: 0;
  border-radius: 5px;
  width: 31%;
  height: 31%;
  font-size: 475%;
  background-color: white;
}

/* ******PLAYER 2 SIDE****** */

.player-2-side {
  background: linear-gradient(#5B86E5, #36D1DC);
  flex-grow: 1;
}

.player-2-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.player-2-name {
  align-items: center;
}
